@CHARSET "ISO-8859-1";

.no-gutter{
   padding: 0 !important;
   margin: 0 !important;
}

.glyphicon-align-justify {
    font-size: 1.4em;
    color: #ffffff;
}

.content-header{
	background-color: #31b0d5;
  	height: 50px;
  	display: flex;
  	font-size:14px;
  	align-items: center;
  	padding-left: 10px;
}

.content-footer {
   	position:fixed;
	bottom:0;
	font-size: 16px ;
	height: 50px ;
	background-color: #f6f6f6 ;
	display: flex;
	align-items: center;
}

body {
  margin: 0px;
  padding: 0px;
}
